.button {
    margin: 6px 0;
    height: 36px;
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding: 0 10px;
    color: #3d5245;
    margin-top: 5px;
    text-align: center;
    background-color: rgba(57, 88, 69, 0.4);
    color: white;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 0.4s;
}
.buttonright{
    float: right;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    border: none;
    padding: 0 14px;
    color: #3d5245;
    overflow: hidden;
    text-align: center;
    background-color: rgba(57, 88, 69, 0.4);
    color: white;
}
.buttonright:hover {
    background-color: rgba(12, 80, 38, 0.67);
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2), 0 0px 0px 0 rgba(0,0,0,0.19);

}
.button:hover {
    background-color: rgba(12, 80, 38, 0.67);
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2), 0 0px 0px 0 rgba(0,0,0,0.19);

}