.navbar {
    overflow: hidden;
    background-color:whitesmoke;
    width: auto;
    height:50px;
}

/* 导航栏样式 */
.navbar a{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
}

/* 右侧链接*/
.navbar a.right {
    float: right;
}

/* 鼠标移动到链接的颜色 */
.navbar a:hover {
    background-color:#dddddd;
    color:black;
}